/*signup and login page styling*/
body{
	margin:0px auto;
	width: 960px;
	padding:15px;
	margin-top:50px;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    font-family: 'Days One', sans-serif !important;	font-family: sans-serif;

    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 26%, #f5f5f5 59%, #f5f5f5 77%, #cecece 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,#ffffff), color-stop(26%,#ffffff), color-stop(59%,#f5f5f5), color-stop(77%,#f5f5f5), color-stop(100%,#cecece));
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
}
#signupPage {
	margin:0px auto;
	width: 500px;
	border:1px solid black;
	padding:10px;
	text-align: center;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
}
table{
	margin-left: 10%;
}
#login table{
	margin-left:30%;
}
.label {text-align: right;}
.error {color: white;}

#newpost{
	text-align: left;
	margin:0px auto;
	width: 500px;
	border:1px solid black;
	padding:10px;
	background-color: #E32551;
	box-shadow: 5px 5px 5px #888888;
}

#newpost textarea{
	width:400px;
	height: 200px;
	font-size: 17px;
	font-family: monospace;
}

#signupPage {
	background-color: #E32551;
}
#signupPage #colorContainer {
	background-color: #61c19e;
}

#newpost #colorContainer {
	background-color: #61c19e;
	padding-left:10px;
}

.butt {
   border-top: 1px solid #ffbb00;
   background: #d49d04;
   padding: 4.5px 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   vertical-align: middle;
   }
.butt:hover {
   border-top-color: #7d6729;
   background: #7d6729;
   color: #ccc;
   }
.butt:active {
   border-top-color: #66531e;
   background: #66531e;
   }