<!doctype html>
	<head>
		<!-- 
			THANKS TO!!
			http://joelongstreet.com/blog/2011/08/02/css-animation-webkit-javascript-particle-effect/
			for the awesome menu's
			https://github.com/soulwire/Makisu 
			for the particle effects
		-->
		<meta charset="utf-8">
		<title>Phelan's Blog</title>
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<meta name="description" content="">
		<link rel="stylesheet" href="css/makisuStyle.css">
	    <link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
	    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	    <link rel="stylesheet" href="../css/print.css" type="text/css" media="print">
	</head>
	<body id="multiPost">
		<!-- logout section -->
		<a href="/logout">
			<img id="logout" style="position: absolute; top: 0; right: 0; border: 0;" src="../img/home.png" alt="log out">
		</a>
		<div id="isLogout" style="display: none !important;">{{logout}}</div>
		<!-- end logout section -->
		<div id="container">

		    <div id="imageBox">
				<a id="linkspan" href="/"></a>
		    	<!-- <div id="triangle-bottomleft"></div> -->
		    </div> <!-- end image box -->

			    <div id="postContent">

			    	<div id='content' class='row-fluid'>

					 <div class='sideBar'>
				        <h2>About</h2>
						<a href="https://twitter.com/PhelanVendevill" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
						</script>
						<img src="../img/faceShot.jpg" style="height:120px;" alt="">
				        <p>I'm Phelan, and this is my experiment blog.</p>
				        <p><a href="/signup">Contributor Signup</a></p>
				        <p><a href="/login">{{loggedin}}</a></p>
				        <p><a href="/newpost">{{newpost}}</a></p>
				      </div><!-- end sidebar -->

					{% for post in posts %}
						<div class='post'>
							<h2>{{post.subject}}</h2>
							<h3>By {{post.username}} on {{post.timestamp}}</h3>
							<p>{{post.content[0:500]}} <a href="/permalink/{{post.key().id()}}">...more</a></p>
							<!-- <p>ID: {{post.key().id()}}</p> -->
							<hr>
						</div> <!-- end of a post -->
					{% endfor %}

					</div><!-- end content -->

			    </div> <!-- end post content -->

		        <section class="navigation">
		        	
			        <dl class="list nigiri">
			            <dt class="clickableNigiri"><a href="#">Art</a></dt>
			            <!-- <dd><a href="http://pheven.deviantart.com/" target="_blank">DeviantArt</a></dd> -->
			            <dd><a href="http://phelanvendeville.blogspot.com/" target="_blank">Art Blog</a></dd>
			            <dd><a href="/perspective" >Fun with Perspective</a></dd>
			            <dd class="nigiriRollup"><a href="#">Roll Up</a></dd>
			        </dl> <!-- end nigiri nav -->

					<dl class="list maki">
			            <dt class="clickableMaki"><a href="#">Programming</a></dt>
			            <!-- note: the dt tag is used to describe a name, where the dd tag is used to describe a value for that name -->
			            <dd><a href="https://github.com/the-hobbes/WebsiteWeekend" target="_blank">CS Crew</a></dd>
			            <dd><a href="https://github.com/the-hobbes/EvolutionaryComputation" target="_blank">Evolutionary Computation</a></dd>
			            <dd><a href="https://github.com/the-hobbes/HackVT" target="_blank">GreenBean (HackVT)</a></dd>
			            <dd><a href="https://github.com/the-hobbes/nQueensProblem" target="_blank">GA Solution to N-Queens</a></dd>
			            <dd><a href="https://github.com/the-hobbes/LimeAid" target="_blank">LimeAid</a></dd>
			            <dd><a href="https://github.com/the-hobbes/Network-Backup" target="_blank">Tortise Backup</a></dd>
			            <dd><a href="https://github.com/the-hobbes/softwareEngineeringFinalProject" target="_blank">Software Engineering</a></dd>
			            <dd class="makiRollup"><a href="#">Roll Up</a></dd>
					</dl><!-- end dl, where dl = definition list -->

			        <dl class="list sashimi">
			            <dt class="clickableSashimi"><a href="#">Other Links</a></dt>
			            <dd><a href="https://github.com/the-hobbes" target="_blank">Github</a></dd>
			            <dd><a href="http://www.linkedin.com/pub/phelan-vendeville/7/823/a8" target="_blank">Linkedin</a></dd>
			            <dd><a href="https://plus.google.com/101551502170353479766" target="_blank">GooglePlus</a></dd>
			            <dd><a href="https://twitter.com/PhelanVendevill" target="_blank">Twitter</a></dd>
			            <dd class="sashimiRollup"><a href="#">Roll Up</a></dd>
			        </dl> <!-- end sashimi nav -->

		        </section><!-- end navigation section-->


				<div class="warning">
			        <div class="message">
			            <h1>CSS 3D Not Detected :(</h1>
			            <p>We couldn't detect your browser's CSS 3D capabilities. If we are wrong, please <a href="https://github.com/soulwire/Makisu/issues" target="_blank">file an issue</a>, otherwise, try a <a href="http://www.google.com/chrome" target="_blank">sexier browser</a></p>
			        </div> <!-- end error message section -->
			    </div> <!-- end warning section -->

<!-- begin javascript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/makisu.js"></script>
	<script src='../js/zepto.js'></script>
	<script src='../js/utilities.js'></script>
	<script src='../js/particles.js'></script>
	<script src='../js/particles.js'></script>

    <script>
	    $(function(){
	    	// **** document ready function for the particle effects ***** //
			function getBounds(){
				var element = document.getElementById('imageBox');
				var position = element.getBoundingClientRect();
				
				var x = position.left;
				var y = position.top;
				var w = position.right - position.left;
                var h = position.bottom - position.top;

				return [x, y, w, h];
			}

			setInterval(function(){
				var coords = getBounds();
				// console.log(derp);

				// var x = random_from_to(0, BROWSER.w);
				// var y = random_from_to(0, BROWSER.h);

				var x = random_from_to(coords[0], coords[2]);
				var y = random_from_to(coords[1], coords[3]);

				var particle = new Particles(x, y);
			}, 2500);

			//function to show or hide logout banner, based on a string pushed into the isLogout div by the server
			if ( $('#isLogout').text() == 'logout'){
				// console.log("logout here!");
				$('#logout').show();
			}
			else{
				$('#logout').hide();
			}
		});
	    	// end particles, and start menus

        // The `enabled` flag will be `false` if CSS 3D isn't available
        if ( $.fn.makisu.enabled ) {

            var $sashimi = $( '.sashimi' );
            var $nigiri = $( '.nigiri' );
            var $maki = $( '.maki' );

            // Create Makisus

            $nigiri.makisu({
                selector: 'dd',
                overlap: 0.85,
                speed: .7
            });

            $maki.makisu({
                selector: 'dd',
                overlap: 0.6,
                speed: 0.5
            });

            $sashimi.makisu({
                selector: 'dd',
                overlap: 0.2,
                speed: 0.3
            });

            // Toggle on click
			// if the something with the clickable class is clicked, then call the toggle function

            // NIGIRI menus
            $( '.clickableNigiri' ).on( 'click', function() {
                $nigiri.makisu( 'toggle' );
            });   
			// likewise with rollup (used to facilitate color changes)
            $( '.nigiriRollup' ).on( 'click', function() {
            	console.log("got here");
                $nigiri.makisu( 'toggle' );
            });

			// MAKI menus
			$( '.clickableMaki' ).on( 'click', function() {
                $maki.makisu( 'toggle' );
            });   
			// likewise with rollup (used to facilitate color changes)
            $( '.makiRollup' ).on( 'click', function() {
                $maki.makisu( 'toggle' );
            });

            // SASHIMI menus
            $( '.clickableSashimi' ).on( 'click', function() {
                $sashimi.makisu( 'toggle' );
            });   
			// likewise with rollup (used to facilitate color changes)
            $( '.sashimiRollup' ).on( 'click', function() {
                $sashimi.makisu( 'toggle' );
            });

        } else {

            $( '.warning' ).show();
        }

    </script>
<!-- end javascript -->
	<script>
		// analytics code
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-11781420-6', 'phelan-blog.appspot.com');
		ga('send', 'pageview');
	</script>
	<script>
		
	</script>
		</div><!-- end content wrapper -->
	</body>
</html>